/* Reset */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Default */

.container {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 30px;
}

a {
    color: #FFFFFF;
}

body {
    box-sizing: border-box;
    background-color: #272727;
    color: #FFFFFF;
    font-family: 'WorkSans';
    font-size: 18px;
    height: 100%;
}

/* Buttons */

.button { 
    display: inline-block;
    text-align: center;
    width: 100%;
    background: #FCD54C;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.57;
    color: #000000;
    border: 2px solid #FCD54C;
    transition: all 0.5s;
}

.button:hover { 
    background: #272727;
    color: #FCD54C;
}

/* Header */

.header__body {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin: 24px 0;
}

.header__logo {
    display: flex;
    flex: 0 1 305px;
    flex-direction: column;
    position: relative;
    padding: 0 15px;
    z-index: 3;
}

.header__logo::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 64px;
    left: 0px;
    top: -6px;
    border: #FCD54C solid 2px;
    border-right: none;
}

.logo__top { 
    font-family: 'Gilroy';
    font-size: 28px;
    font-weight: 700;
}

.logo__bottom {
    font-size: 11px;
    font-weight: 400;
    color: #757575;
}

.header__menu {
    flex: 1 0 312px;
}

.menu__list { 
    display: flex;
    justify-content: flex-start;
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 600;
    column-gap: 45px;
}

.menu__item { 
    position: relative;
}

.arrow:after {
    content: '';
    position: absolute;
    top: 6px;
    right: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;
    /* Не зміг реалізувати підкреслення стрілки (´。＿。｀) */
}

.menu__link {
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.menu__link:hover {
    color: #FCD54C;
}

.menu__item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #FCD54C;
    transition: width 0.3s ease;
}

.menu__item:hover::before {
    width: 100%;
}

.header__button {
    flex: 0 0 165px;
    z-index: 3;
}

.header__button button {
    height: 40px;
}

.header__lang-switcher {
    display: flex;
    flex: 0 1 160px;
    gap: 8px;
    justify-content: flex-end;
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 600;
    z-index: 3;
}

.header__lang-span {
    color: #757575;
}

.header__lang-span:hover {
    color: #FCD54C;
}

.header__phone-number { 
    display: flex;
    flex: 0 1 180px;
    min-width: 135px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    justify-content: flex-end;
    z-index: 3;
}

.header__burger {
    display: none;
    height: 100%;
    width: 16px;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
}

.burger__body {
    background-color: #272727;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    z-index: 2;
    transition: height 0.5s;
}

.burger-button,
.burger-button::before,
.burger-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 2px;
    width: 16px;
    transition: transform 0.3s;
    border-radius: 2px;
}

.burger-button::before {
    content: '';
    margin-top: -6px;
}
  
.burger-button::after {
    content: '';
    margin-top: 6px;
}

#burger-toggle {
    display: none;
}

.burger__menu {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
  
/* Page */


.slider__body {
    background-image: url(/img/slider1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 970px;
}

.slider__social-links {
    display: block;
    padding: 40px 20px 70px 0;
}

.social-links__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 24px;
    margin: 0 0 0 auto;
}

.social-links__link {
    display: block;
}

.social-links__link img {
    height: 24px;
    width: 24px;
}

.slider__title {
    flex: 1 1 auto;
}

.title__body {
    width: 124px;
    height: 384px;
    border: #FCD54C solid 4px;
    border-right: none;
    padding: 0 0 0 28px;
    margin: 0 0 0 356px;
}

.title__top-text {
    font-family: 'WorkSans';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 44px 0 22px 0;
    width: 216px;
}

.title__title {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    text-transform: capitalize;
}

.slider__title span {
    color: #FCD54C;
}

.title__button {
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: 'WorkSans';
    font-weight: 700;
    font-size: 20px;
    width: 216px;
    padding: 28px 0 0 0;
}

.slider__bottom {
    display: flex;
    flex: 0 1 150px;
}

.bottom__left {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

.bottom__buttons {
    height: 20px;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 78px 90px 0 30px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.bottom__right {
    display: flex;
    flex: 0 1 1080px;
    background: #272727;
    gap: 38px;
}

.right__item {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}

.item__number {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 60px;
    line-height: 14px;;
    color: #ffffff;
    padding: 0 38px 0 60px;
}

.item__text {
    font-family: 'WorkSans';
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}


/* Footer */


