/* Reset */

ul, ol, h1, h2, h3, h4, h5, a, p {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* Default */
[class*="__container"] {
    max-width: 1770px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    color: #FFFFFF;
}

body {
    box-sizing: border-box;
    background-color: #272727;
    color: #FFFFFF;
    font-family: 'WorkSans';
    font-size: 18px;
    padding: 0;
    margin: 0;
}

/* Buttons */

.button { 
    display: inline-block;
    text-align: center;
    width: 165px;
    padding: 12px 0;
    background: #FCD54C;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.57;
    color: #000000;
    border: 2px solid #FCD54C;
    transition: all 0.5s;
}

.button:hover { 
    background: #272727;
    color: #FCD54C;
}

/* Header */
.header {}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.header__logo {
    min-width: 335px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 0 0 17px;
}

.header__logo::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 64px;
    left: 0px;
    top: -6px;
    border: #FCD54C solid 2px;
    border-right: none;
}

.header__top { 
    font-family: 'Gilroy';
    font-size: 24px;
    font-weight: 700;
}

.header__bottom {
    font-size: 11px;
    font-weight: 400;
    color: #757575;
}

.header__menu { 
    flex: 1 1 auto;
}

.menu {}

.menu__list { 
    display: flex;    
    flex-wrap: wrap;
    flex: 1 1 350px;
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 600;
    column-gap: 50px;
    row-gap: 5px;
}

.menu__item { 
    display: inline-block;
}

.menu__link {
    text-transform: uppercase;
    position: relative;
}

.menu__item:first-child::after {
    content: '';
    position: relative;
    top: 12px;
    right: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;
}

.menu__link:hover {
    color: #FCD54C;
}

.menu__link:hover::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -3px;
    background: #FCD54C;
}

.header__button { 
    flex: 0 0 auto;
}

.header__lang-switcher {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 600;
    min-width: 162px;
}

.header__lang-span {
    color: #757575;
}

.header__lang-span:hover {
    color: #FCD54C;
}

.header__phone-number { 
    display: flex;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    min-width: 180px;
    justify-content: flex-end;
}


/* Page */
.main {}

.slider__container {
    background-image: url(/img/slider1.png);
    height: 970px;
    position: relative;
}

.slider__social-links {
    position: absolute;
    right: 25px;
    top: 30px;
}

.social-links {
    line-height: 0;
}

.social-links__list {}

.social-links__item {
    padding: 0 0 14px 0;
}

.social-links__link {
    display: inline-block;
    height: 24px;
}

.social-links__icon {}

.title {
    display: block;
    height: 384px;
    width: 742px;
    padding: 280px 0 0 384px;
}

.title__top-text {
    font-family: 'WorkSans';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 0 0 22px 0;
}

.title__title {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;     
}

.title-span {
    color: #FCD54C;
}

.title__button {}

/* Footer */
.footer {}

